$$ETL$$

Descarga y transformación de los datos

In [1]:
# importar librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests

funcion para descargar los datos desde la web

In [2]:
def descargar_datos_csv(url, archivo_salida):
    """
    Descarga un archivo CSV desde una URL y lo guarda en un archivo local.

    Parámetros:
        - url (str): La URL del archivo CSV a descargar.
        - archivo_salida (str): El nombre del archivo de salida para guardar los datos descargados.
    """
    # Realizar la solicitud GET al enlace y guardar la respuesta
    response = requests.get(url)

    # Verificar si la solicitud fue exitosa (código 200)
    if response.status_code == 200:
        # Guardar los datos en el archivo de salida
        with open(archivo_salida, "wb") as f:
            f.write(response.content)
            print("Descarga completada.")
    else:
        print("Error al descargar los datos. Código de estado:", response.status_code)
    return archivo_salida

funcion que carga en un dataframe los datos del archivo csv

In [3]:
def cargar_datos_csv(archivo_csv):
    """
    Carga los datos de un archivo CSV en un DataFrame.

    Parámetros:
        - archivo_csv (str): El nombre del archivo CSV a cargar.

    Retorna:
        - Un objeto DataFrame que contiene los datos del archivo CSV.
    """
    # Cargar los datos del archivo CSV en un DataFrame
    df = pd.read_csv(archivo_csv, sep=';', encoding='latin-1')

    return df

Funcion que descarga el dataframe en archivo csv

In [14]:
def guardar_datos_como_csv(df, nombre_archivo):
    """
    Guarda los datos de un DataFrame en un archivo CSV.

    Parámetros:
        - df: El DataFrame que contiene los datos a guardar.
        - nombre_archivo: El nombre del archivo CSV de salida.
    """
    df.to_csv(nombre_archivo, index=False)
    print(f"Datos guardados correctamente en el archivo CSV: {nombre_archivo}")

llamar a la funcion

In [4]:
url = "http://datos.salud.gob.ar/dataset/ceaa8e87-297e-4348-84b8-5c643e172500/resource/30d76bcb-b8eb-4bf3-863e-c87d41724647/download/informacion-publica-dengue-zika-nacional-anio-2022.csv"
archivo_salida = "dengue-zika.csv"  # Nombre del archivo de salida en formato CSV

descargar_datos_csv(url, archivo_salida)

Descarga completada.

'dengue-zika.csv'

In [5]:
archivo_salida = "dengue-zika.csv"
df = cargar_datos_csv(archivo_salida)

visualizar datos en un dataframe

In [7]:
df.head()

,departamento_id,departamento_nombre,provincia_id,provincia_nombre,año,semanas_epidemiologicas,evento_nombre,grupo_edad_id,grupo_edad_desc,cantidad_casos
0,1,CABA,2,CABA,2022,8,Dengue,11,De 45 a 65 años,1
1,1,CABA,2,CABA,2022,9,Dengue,8,De 20 a 24 años,1
2,1,CABA,2,CABA,2022,16,Dengue,10,De 35 a 44 años,1
3,1,CABA,2,CABA,2022,49,Dengue,6,De 10 a 14 años,1
4,1,CABA,2,CABA,2022,48,Dengue,10,De 35 a 44 años,1

In [8]:
#Reordenar columnas
df = df[['provincia_nombre','departamento_nombre','cantidad_casos','evento_nombre','grupo_edad_desc','semanas_epidemiologicas','año']]
#Renombrar columnas
df.rename(columns={'provincia_nombre': 'provincia'}, inplace=True)
df.rename(columns={'departamento_nombre': 'localidad'}, inplace=True)
df.rename(columns={'evento_nombre': 'evento'}, inplace=True)
df.rename(columns={'grupo_edad_desc': 'grupo_etario'}, inplace=True)

df.head()

,provincia,localidad,cantidad_casos,evento,grupo_etario,semanas_epidemiologicas,año
0,CABA,CABA,1,Dengue,De 45 a 65 años,8,2022
1,CABA,CABA,1,Dengue,De 20 a 24 años,9,2022
2,CABA,CABA,1,Dengue,De 35 a 44 años,16,2022
3,CABA,CABA,1,Dengue,De 10 a 14 años,49,2022
4,CABA,CABA,1,Dengue,De 35 a 44 años,48,2022

In [9]:
df.isnull().sum()

provincia                  0
localidad                  0
cantidad_casos             0
evento                     0
grupo_etario               0
semanas_epidemiologicas    0
año                        0
dtype: int64

In [12]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
288    False
289    False
290    False
291    False
292    False
Length: 293, dtype: bool

In [19]:
guardar_datos_como_csv(df, 'dengue-zika-clean.csv')

Datos guardados correctamente en el archivo CSV: dengue-zika-clean.csv