$$ETL$$

Descarga y transformación de los datos

In [74]:
# importar librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests

In [75]:
import pandas as pd

# Leer el archivo CSV utilizando la ruta completa
df = pd.read_csv('dengue-2022.csv', encoding='latin-1', sep=';')

visualizar datos en un dataframe

In [76]:
df.head()

,departamento_id,departamento_nombre,provincia_id,provincia_nombre,año,semanas_epidemiologicas,evento_nombre,grupo_edad_id,grupo_edad_desc,cantidad_casos
0,1,CABA,2,CABA,2022,8,Dengue,11,De 45 a 65 años,1
1,1,CABA,2,CABA,2022,9,Dengue,8,De 20 a 24 años,1
2,1,CABA,2,CABA,2022,16,Dengue,10,De 35 a 44 años,1
3,1,CABA,2,CABA,2022,49,Dengue,6,De 10 a 14 años,1
4,1,CABA,2,CABA,2022,48,Dengue,10,De 35 a 44 años,1

In [77]:
#Reordenar columnas
df = df[['provincia_nombre','departamento_nombre','cantidad_casos','evento_nombre','grupo_edad_desc','semanas_epidemiologicas','año']]
#Renombrar columnas
df.rename(columns={'provincia_nombre': 'provincia'}, inplace=True)
df.rename(columns={'departamento_nombre': 'localidad'}, inplace=True)
df.rename(columns={'evento_nombre': 'evento'}, inplace=True)
df.rename(columns={'grupo_edad_desc': 'grupo_etario'}, inplace=True)

df.head()

,provincia,localidad,cantidad_casos,evento,grupo_etario,semanas_epidemiologicas,año
0,CABA,CABA,1,Dengue,De 45 a 65 años,8,2022
1,CABA,CABA,1,Dengue,De 20 a 24 años,9,2022
2,CABA,CABA,1,Dengue,De 35 a 44 años,16,2022
3,CABA,CABA,1,Dengue,De 10 a 14 años,49,2022
4,CABA,CABA,1,Dengue,De 35 a 44 años,48,2022

In [78]:
# Reemplazar el valor en la columna 'grupo_etario'
df['grupo_etario'] = df['grupo_etario'].str.replace('Posneonato (29 hasta 365 dias)', '29 hasta 365 dias')

In [79]:
df.isnull().sum()

provincia                  0
localidad                  0
cantidad_casos             0
evento                     0
grupo_etario               0
semanas_epidemiologicas    0
año                        0
dtype: int64

In [80]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
288    False
289    False
290    False
291    False
292    False
Length: 293, dtype: bool

In [83]:
df.to_csv('dengue-clean.csv', index=False)